.chat {
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  gap: 15px;
  padding: 5px;
  align-items: center;
  transition: all 0.3s ease;
}
.chat:hover {
  background-color: rgb(245, 231, 231);
}
.chatImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.chatImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.chatName {
  font-weight: 500;
}
