.profile {
  display: flex;
}
.profileRight {
  flex: 9;
}
.profileRightTop {
  /* background-color: aliceblue; */
}
.profileCover {
  height: 320px;
  position: relative;
  margin-bottom: 50px;
}
.profileCoverImg {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 200px;
  border: 3px solid white;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profileInfoName {
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
  font-size: 24px;
}
.profileInfoDesc {
  font-weight: 300;
}
.profileRightBottom {
  background-color: whitesmoke;
  display: flex;
}
